loader {
    display: flex;
    justify-content: center;
    margin: 2em 0;

    .loader {
        border: 3px solid #ccc;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        animation: spin 0.3s linear infinite;
    }

    &.small {
        margin: 0;

        .loader {
            width: 2em;
            height: 2em;
        }
    }
}

.sp-input {
    display: flex;
}

.sp-input input, .sp-input textarea {
    flex: 1;
    min-width: 0;
}

sp-input {
    &[type="currency"], &[type="percentage"] {
        .sp-input:not(.sp-empty) {
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                left: 1rem;
                font-weight: 500;
                font-size: 1.1em;
            }

            input {
                padding-left: 2.2rem;
            }
        }
    }

    &[type="currency"] .sp-input:not(.sp-empty)::before {
        content: '$';
    }

    &[type="percentage"] .sp-input:not(.sp-empty)::before {
        content: '%';
    }
}

.sp-select {
    display: flex;
}

.sp-select select {
    flex: 1 1 auto;
}

sp-checkbox {
    display: flex;
    align-items: baseline;
}

.sp-checkbox {
    display: flex;
    align-items: center;
}

.sp-checkbox .checkbox {
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-checkbox .checkbox + .label {
    margin: 0 0 0 0.5em;
}

sp-date {
    display: block;
}

sp-date .sp-date {
    position: relative;
}

sp-date .sp-date-input {
    position: relative;
    display: inline-flex;
}

.sp-date input {
    padding-left: 2.5rem;
    padding-right: 2em;
    width: 11rem;
    text-align: center;
}

.sp-date .fa-calendar {
    position: absolute;
    left: 0.75rem;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

sp-date .date-picker {
    font-family: Poppins, sans-serif;
    font-size: 0.8rem;
    color: #333333;
}

#ui-datepicker-div {
    display: none;
}

.ui-datepicker {
    font-size: 0.8rem;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em;
    position: absolute;
    left: 0;
    z-index: 2;
}

.ui-datepicker-month, .ui-datepicker-year {
    height: auto;
    font-size: 0.8rem;
    background-color: #ffffff;
}

.ui-datepicker-header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 0 1em 1em 1em;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
}

.ui-datepicker-header a:hover {
    text-decoration: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
    width: 2em;
}

.ui-datepicker-prev {
    grid-column-start: 1;
    grid-column-end: 2;
}

.ui-datepicker-next {
    grid-column-start: 3;
    grid-column-end: 4;
}

/*noinspection CssNoGenericFontName*/
.ui-datepicker-prev:before, .ui-datepicker-next:before {
    font-size: 1.4rem;
    color: #333333;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    cursor: pointer;
}

.ui-datepicker-prev:before {
    content: '\f104';
}

.ui-datepicker-next:before {
    content: '\f105';
}

.ui-datepicker-title {
    grid-column-start: 2;
    grid-column-end: 3;
}

.ui-datepicker-prev .ui-icon, .ui-datepicker-next .ui-icon {
    display: none;
}

.ui-datepicker-calendar {
    border-collapse: separate;
    border-spacing: 0.25em;
    $cellSize: 2rem;

    tr {
        height: $cellSize;
    }

    th, td {
        padding: 0;
        min-width: $cellSize;
        max-width: $cellSize;
        vertical-align: middle;
        text-align: center;
    }
}

.ui-datepicker .ui-datepicker-calendar th {
    font-weight: 600;
    color: $dark-grey;
}

.ui-datepicker .ui-datepicker-calendar td {
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
}

.ui-datepicker-calendar tr:nth-child(2n) {
    background-color: transparent;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable {
    cursor: auto;
}

.ui-datepicker .ui-datepicker-calendar a:hover {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover {
    background-color: #e1edff;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day:hover {
    background-color: $blue;
}

.ui-datepicker .ui-state-default {
    color: #333;
}

.ui-datepicker .ui-datepicker-today .ui-state-default {
    color: $blue;
}

.ui-datepicker .ui-datepicker-current-day {
    font-weight: bold;
    background-color: $blue;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-default {
    color: #ffffff;
}

sp-tooltip {
    z-index: 100000;

    .sp-tooltip {
        display: inline-block;
        font-size: 10px;
        font-weight: normal;
        font-family: sans-serif;
        line-height: 1.4;
        color: #fff;
        background: #333;
        padding: 0.5em 1em;
        white-space: nowrap;
        text-align: center;
        opacity: 0.9;

        &:after {
            border: 0.5em solid #333333;
            border-bottom: none;
            cursor: auto;
            content: '';
            line-height: 1;
            position: absolute;
            bottom: -0.5em;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            left: calc(50% - 0.5em);
        }
    }

    &[direction="bottom"] {
        top: 100%;

        .sp-tooltip {
            top: calc(100% + 0.75em);
            bottom: auto;

            &:after {
                bottom: auto;
                border: 0.5em solid #333333;
                border-top: none;
                cursor: auto;
                content: '';
                line-height: 1;
                position: absolute;
                top: -0.5em;
                border-left: 0.5em solid transparent;
                border-right: 0.5em solid transparent;
                left: calc(50% - 0.5em);
            }
        }
    }
}

.sp-select-popup {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sp-select-popup-content {
    min-width: 20em;
    width: 20em;
}

.sp-select-popup-title {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5em;
}

.sp-select-popup-content .sp-search-input-container, .sp-select-popup-content .sp-add-input-container {
    margin-bottom: 0.5em;
    align-items: center;
}

.sp-select-popup-content .sp-options-container {
    .empty-text {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 1em;
        text-align: center;
        color: #aaa;
    }
}

.sp-select-popup-content .sp-options, .sp-select-popup-content .sp-items {
    height: 24em;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
}

.sp-select-popup-content .sp-options.sp-file-options {
    max-height: 10em;
    height: auto;
}

.sp-select-popup-content .sp-option, .sp-select-popup-content .sp-item {
    @include box-shadow-mixin();
    background-color: $white;
    padding: 0.75em 1em;
    margin: 0.25rem;
    cursor: pointer;
    font-size: 0.9em;
}

.sp-select-popup-content .sp-option:not(.sp-selected):hover, .sp-select-popup-content .sp-item:not(.sp-selected):hover {
    background-color: #c9d5db;
    filter: brightness(115%);
}

.sp-select-popup-content .sp-option.sp-selected {
    background-color: $blue;
    color: $white;

    .grey {
        color: lighten($grey, 20%);
    }
}

.sp-add-input-container, .sp-search-input-container {
    display: flex;

    .add-input {
        flex: 1;
    }
}

.sp-add-input-container .sp-item-add, .sp-search-input-container .sp-option-add {
    margin-left: 1em;
}

.sp-search-input-container sp-input {
    flex: 1;
    position: relative;

    &:before {
        font-family: 'sp-icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        letter-spacing: 0;
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga";
        -webkit-font-variant-ligatures: discretionary-ligatures;
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e93f";
        transform: rotateY(180deg);
        position: absolute;
        bottom: 0.5rem;
        font-size: 1.4em;
    }

    input {
        border: none;
        background: transparent;
        border-bottom: 1px dashed $light-grey;
        padding-left: 2em;
        padding-bottom: 0;

        &:hover, &:focus {
            border: none;
            border-bottom: 1px dashed $light-grey;
        }
    }
}

.sp-item, .sp-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sp-options-empty {
    display: flex;
    justify-content: center;
    color: #ccc;
    margin: 0.5em 1em 1em;
}

.sp-option:focus {
    background-color: maroon;
    color: white;
}

.sp-option-text {
    word-wrap: break-word;
    flex: 1;
}

.sp-option.new .sp-option-text:after {
    margin-left: 0.5rem;
    content: 'NEW';
    font-size: 0.7em;
    background-color: #e3ffd4;
    padding: 0.125em 0.25em;
    color: #72b65c;
    font-weight: 600;
    border: solid 1px #91cb5d66;
    border-radius: 2px;
}

.sp-select-popup-content .sp-option:hover {
    filter: none;
}

.sp-select-popup-content .sp-option .button:hover {
    filter: brightness(105%);
}

.button.sp-option-add, .button.sp-option-remove, .button.sp-item-add, .button.sp-item-remove {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.button.sp-option-add {
    font-size: 0;
    background-color: #87d2a0;
    color: #ffffff;
    margin: 1rem auto 0;
}

.button.sp-option-add .fa {
    font-size: 1rem;
}

.button.sp-option-remove .fa,
.button.sp-item-add .fa, .button.sp-item-remove .fa {
    margin: 0;
}

.sp-item-remove, .sp-option-remove {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    position: relative;
    right: -0.5em;
}

.sp-item-remove:hover .fa-times {
    transform: rotate(90deg);
}

.sp-select-actions {
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}

/**********************  sp-switch  *******************************/
sp-switch .sp-switch {
    display: flex;
    align-items: center;

    .switch {
        width: 3.2rem;
        height: 1.2rem;
        border-radius: 1.5rem;
        position: relative;
        background-color: #d25068;
        transition: all linear 0.2s;
        cursor: pointer;
        display: flex;
        align-items: center;

        &.sp-active {
            background: #59bd87;

            .button {
                left: calc(100% - 1em);
            }
        }
    }

    .label {
        margin-right: 1em;
    }

    .button {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        padding: 0;
        border-radius: 50%;
        background: #ffffff;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        transition: all linear 0.2s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.4);
    }

    &.disabled, &.disabled.active {
        background: $light-grey;
        cursor: initial;
    }

    &.disabled .button {
        background: #dddddd;
    }

    .switch-text {
        position: absolute;
        font-size: 0.7rem;
        color: $white;
        font-weight: 800;
        font-style: normal;

        &.switch-text-active {
            left: 0.5rem;
        }

        &.switch-text-inactive {
            right: 0.5rem;
        }

        &.ng-enter-prepare {
            opacity: 0;
        }

        &.ng-enter {
            transition: opacity ease-in-out 0.2s;
            opacity: 0;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 1;
        }
    }
}

sp-table {
    @include expand-y();

    .sp-table {
        @include expand-y();
    }

    .center {
        @include expand-y();
    }

    .sp-table-row {
        &.even {
            background-color: #f5f5f5;
        }
    }

    .sp-table-content {
        position: relative;

        .sp-no-results {
            &.sp-loading {
                visibility: hidden;
            }
        }

        .sp-loader-cloak {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(240, 240, 240, 0.8);
        }
    }

    .sp-table-nav {
        margin: 0.5em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;

        [ng-transclude]:empty {
            display: none;
        }

        .page-options {
            display: flex;
            align-items: center;

            select {
                font-size: 0.8em;
            }
        }

        .table-nav {
            display: flex;

            button {
                font-size: 0.8em;
                padding: 0.5em 0.75em;
                background-color: transparent;
                color: $black;

                &:not(:last-of-type) {
                    margin-right: 0.25em;
                }

                &:not(.active):not([disabled]):hover {
                    background-color: #99999940;
                }

                &[disabled] {
                    cursor: not-allowed;
                    color: $light-grey;
                }
            }
        }
    }

    .sp-no-results {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        font-weight: bold;
        font-size: 2em;
        color: #aaaaaa66;
    }
}
