loader {
  display: flex;
  justify-content: center;
  margin: 2em 0;

  .loader {
    border: 3px solid #ccc;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin 0.3s linear infinite;
  }

  &.small {
    margin: 0;

    .loader {
      width: 2em;
      height: 2em;
    }
  }
}


.sp-no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #aaaaaa66;
}
