mc-header {
    display: block;
    position: relative;
    min-width: max-content;
}

#mc-header {
    $mcHeaderBorder: 1px dashed #555;

    font-size: 1em;
    background: #222222;
    color: #ffffff;

    a:hover {
        text-decoration: none;
    }

    #logo-container {
        padding: 0.5em 1em;
        display: flex;
        border-right: $mcHeaderBorder;
    }

    #logo {
        display: flex;
        align-items: center;
    }

    #logo-icon {
        font-size: 2.4em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logo-text {
        padding: 0.5em;
        margin-left: 1em;

        #logo-app {
            color: #fff;
            font-weight: 700;
        }
    }

    mc-main-menu {
        flex: 1 0 auto;
        display: flex;
        margin-left: 1em;
    }

    #main-menu {
        display: flex;
    }

    .menu-item {
        font-size: 0.9em;
        padding: 0.5em;
        margin: 0 1em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: #cccccc;

        &.active {
            color: #ffffff;
            font-weight: 600;
            cursor: auto;
        }

        &:hover {
            color: #ffffff;
        }
    }

    #side-menu-button {
        display: flex;
        padding: 1em;
        align-items: center;
        border-left: $mcHeaderBorder;
        cursor: pointer;

        .sp-icons {
            font-size: 2em;
        }
    }
}

mc-side-menu {
    @include side-menu-container();
}

.mc-side-menu {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    color: $black;
}

.mc-side-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #999999;
    transition: all 0.2s linear;
    cursor: pointer;
    font-size: 2em;

    &:hover {
        filter: none;
        color: #888888;
    }
}

#mc-side-menu-content {
    height: 100%;
    display: flex;

    mc-app-selector {
        display: flex;
        flex: 1;
    }

    mc-user-panel {
        display: flex;
    }
}

#app-selector {
    padding: 1em;
    flex: 1;
}

.side-menu-title {
    font-size: 1.4em;
    font-weight: 700;
    color: #333;
}

.side-menu-subtitle {
    color: #777;
}

#app-selector-content {
    margin-top: 1em;
    display: grid;
    grid-row-gap: .125em;
    grid-column-gap: .125em;
    grid-template-columns: repeat(auto-fill, 10em);

    .app {
        background-color: #fff;
        color: #333;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            animation: pulse .3s;
            background-color: #8ea9d2;
            color: #fff;
            text-decoration: none;
        }

        .app-icon img {
            height: 3em;
        }

        .app-name {
            font-size: .8em;
            text-align: center;
        }
    }
}

#user-panel {
    padding: 0 5em 0 5em;
    text-align: center;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-panel-image img {
    height: 5em;
}

#user-panel-name {
    font-size: 1.5em;
    margin: .5em 0 .5em;
}

#user-panel-logout {
    background: #c44141;
    padding: 1em 4em;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 3em;
    cursor: pointer;
}

.linear-activity {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}

@include linear-activity(#5df9ee, #4dbdb2);

mc-notification-dialog {
    position: fixed;
    z-index: 1;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #222;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

    img {
        vertical-align: top;
        height: 1.2em;
    }
}

.mc-notification-dialog-icon {
    display: flex;
    padding: 1em;
    justify-content: center;

    .sp-icons {
        font-size: 3em;
        color: #e60000;
    }
}

.mc-notification-dialog-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;

    .mc-notification-dialog-button {
        display: inline-flex;
        align-items: center;
        padding: 0.25em 1em;
        border-radius: 2px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        white-space: nowrap;

        &.confirm {
            color: #fff;
            background-color: #e60000;
        }

        &.reject {
            color: #333;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

mc-notifications {
    display: flex;
}

#mc-notifications {
    position: relative;
}

.mc-notifications-menu-item {
    display: flex;
    padding: 1em;
    align-items: center;
    cursor: pointer;
    border-left: 1px dashed #555;
}

.mc-notifications-icon {
    font-size: 1.6em;
    width: 2rem;
    text-align: center;
    position: relative;
}

.mc-notifications-count {
    $size: 1.2rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    min-width: $size;
    height: $size;
    border-radius: $size/2;
    background-color: #e81111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    padding: .5em;
}

mc-notifications-popover {
    position: absolute;
    z-index: 2;

    .mc-notifications-popover-arrow {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 1;

        /* this border color controls the outside, thin border */
        &.before {
            top: -3px;
            border-color: transparent transparent #cecece;
            border-width: calc(1em + 2px);
        }

        &.after {
            top: 2px;
            border-color: transparent transparent $white transparent;
            border-width: 1em;
        }
    }
}

#mc-notifications-popover {
    position: absolute;
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 36em;
    max-height: 75vh;
    border: 2px solid #cecece;
    margin-top: 2em;
    overflow-y: auto;

    .mc-notifications-popover-options {
        display: flex;
        justify-content: space-between;

        a {
            color: $grey;
            margin: 1em;
            font-weight: 500;
            font-size: 0.9em;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#notification-settings-title {
    margin: 1em;
}

.mc-notification {
    position: relative;
}

.mc-notification-close {
    position: absolute;
    right: 1em;
    top: 0.5em;
    color: $grey;

    .sp-icons {
        font-size: 0.9em;
    }
}

.mc-notification-list {
    margin-bottom: 0.5em;
}

.mc-notification-item {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    align-items: center;
    margin: 0 0.5em;
    color: $black;
    border-radius: 3px;
    background-color: $white;

    &:hover {
        text-decoration: none;
        background-color: #ecf3f7;
        filter: none;
    }

    .mc-notifications-icon {
        height: 100%;
    }

    .mc-notification-message {
        font-size: 0.9em;
    }

    .mc-notification-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    .mc-notification-info {
        font-size: 0.8em;
        color: $grey;
    }

    .mark-as-read, .mark-as-unread {
        [ng-click]:hover {
            filter: none;
        }
    }

    .mark-as-read {
        color: $blue;
    }

    .mark-as-unread {
        color: #ccc;
    }
}

.mc-notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 1.5em;
    margin-right: 1em;

    .informative {
        color: $white;
        width: 1.5em;
        height: 1.5em;
        background-color: #6587b9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
    }

    .warning {
        color: #d7a300;
        font-size: 1.5em;
    }
}

.mc-floating-notifications {
    max-width: 32em;
    position: fixed;
    bottom: 4em;
    right: 1em;
    z-index: 2;

    .mc-notification-item {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        margin-top: 0.5em;
    }
}
