mc-notification-settings-side-menu {
    @include side-menu-container();
}

#mc-notification-settings-side-menu {
    display: flex;
    flex-direction: column;
}

mc-notification-settings {
    flex: 1;
    min-height: 0;
    display: flex;
}

.mc-notification-settings {
    height: 100%;
    flex: 1;
    display: flex;

    .notifications-select-role .sp-select-popup {
        border-radius: 8px;
        min-width: 13em;
        background: rgb(63, 61, 61);
        color: $white;
        padding: 0.5em 2em 0.5em 1em;
    }

    .applications-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: 11em;
        border-right: 2px solid #cecece;
        padding: 0 1em 0 0;
        height: 100%;
        overflow-y: auto;

        .application-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em 2em;
            border-radius: 10px;
            width: 8em;
            cursor: pointer;

            &.selected {
                background-color: #cececeb0;
                filter: brightness(100%);

                i {
                    filter: brightness(115%);
                }

                .app-name {
                    color: #222222;
                }
            }

            i {
                font-size: 2em;
                color: $white;
                padding: .3em;
                border-radius: 15px;
                margin-bottom: .2em;
            }

            .app-name {
                color: #999999;
            }

            .arrow-right {
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #cecece;
            }
        }
    }

    .event-list {
        display: flex;
        height: 100%;
    }

    .event-list-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1em;
        border-right: 2px solid #cecece;
        height: 100%;
        width: 30em;

        .event-search {
            @include placeholder-mixin(#999, 0.6);

            display: flex;
            align-items: center;
            background-color: transparent;
            padding: 0.125em 0.5em;
            color: #cecece;
            border-bottom: 1px dashed #cecece;

            input {
                border: none;
                background-color: transparent;
                color: #999;
            }
        }

        .event-items {
            overflow-y: auto;
        }

        .event-item {
            display: flex;
            justify-content: space-between;
            color: #999;
            padding: 1em;
            border-radius: 5px;

            &.selected {
                font-weight: 500;
                background-color: #cececeb0;
                filter: brightness(100%);
                color: #222222;
            }

            .event-title {
                margin-right: 2em;
                flex: 1;
            }
        }
    }

    event-description {
        flex: 1 1 30em;
    }

    .event-description {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        flex: 1;

        .text.white-space-pre-line {
            white-space: pre-line;
        }

        > div {
            margin-bottom: 1em;
            padding: 1em 1em 0 1em;

            .label {
                color: #999;
                font-weight: 500;
                margin-bottom: 1em;
            }

            .sp-icons-info {
                width: 1.5em;
                height: 1.5em;
                color: $white;
                border-radius: 50%;
                background-color: $blue;
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: 0.8em;
            }

            button {
                width: 100%;
                justify-content: center;
            }
        }
    }

    .event-project-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1em 0 1em 1em;
        height: 100%;
        align-items: stretch;
        border-left: 2px solid #cecece;

        .label {
            color: #999;
            font-weight: 500;
            margin-bottom: 1em;
        }

        .list-item {
            background-color: #cececeb0;
            color: #999;
            padding: 1em;
            border-radius: 5px;
            margin-bottom: .25em;

            &.selected {
                background-color: #999999;
                color: $white;
                font-weight: 500;
            }

            &:hover {
                filter: brightness(110%);
            }
        }
    }

    .event-switch {
        flex: none;
    }

    .event-lock {
        flex: none;
        font-size: 1.6em;
        display: flex;
        width: 1.2em;
        justify-content: center;
        margin-left: 1rem;

        &.disabled {
            cursor: not-allowed;
            opacity: .25;
        }

        .unlocked {
            color: #666;
        }

        .locked {
            color: $red;
        }
    }
}

.obscured sp-switch .sp-switch .switch {
    opacity: .25;
    cursor: not-allowed;

    .button {
        cursor: not-allowed;
    }

    &:hover {
        filter: brightness(100%);
    }
}
