<div class="page-title">
    <h2>{{$ctrl.pageTitle}}</h2>
    <div class="flex">
        <button class="blue upload-button space-right-2 position-relative" ng-if="!$ctrl.user.isStationManager && $ctrl.user.isAdmin">
            <img class="space-right-1" src="frontend/assets/images/upload.svg">
            Upload Sessions
            <input class="hidden-input" type="file" file-model="$ctrl.file"/>
        </button>
        <new-session-button class="space-right-2" ng-if="!$ctrl.user.isStationManager"></new-session-button>
        <div class="logout" ng-click="$ctrl.logout()">
            <img class="space-right-half" src="frontend/assets/images/turn-off.svg"/>
            log out
        </div>
    </div>
</div>